Tesis/Tesis_PyCharm/Dataset
Tesis/Tesis_PyCharm/Images
Tesis/Tesis_PyCharm/Test
Tesis/Tesis_PyCharm/venv
Tesis/Tesis_PyCharm/sources/Preprocess/Video_Webcam
Tesis/Tesis_PyCharm/sources/Models/Audio_Model/AUDIOS
